---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=f0b5d7fa&app_key=fa54b386e444037f046c0364cf6d44ae&q=asdfsdfsdfsdfsd&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Fri, 11 Nov 2022 21:51:32 GMT
recorded_with: VCR 6.1.0
