---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyDCnzOOZa6S9XUl2dRF_jHClGP9LfiSh8w&maxResults=1&part=snippet&q=USA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "lblSNq6rlH26bLnNTttgT8Ah7pI",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 46,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "1Fvc_Rj9CSWbIpRWMyYK18GwVNg",
              "id": {
                "kind": "youtube#video",
                "videoId": "egn4uBVuasM"
              },
              "snippet": {
                "publishedAt": "2020-03-20T06:44:54Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of the Dominican Republic",
                "description": "Pictures requiring attribution: NicomedeRD: https://commons.wikimedia.org/wiki/File:Defensa_de_Santiago.jpg ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/egn4uBVuasM/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/egn4uBVuasM/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/egn4uBVuasM/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2020-03-20T06:44:54Z"
              }
            }
          ]
        }
  recorded_at: Sat, 12 Nov 2022 07:15:13 GMT
recorded_with: VCR 6.1.0
