---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyDCnzOOZa6S9XUl2dRF_jHClGP9LfiSh8w&maxResults=1&part=snippet&q=Paraguay
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "4Jo9blv0siSkAOl-FCpmQku21uk",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 6,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "9NJ7vUrR6FSBoSGuhS-2JPUqYLc",
              "id": {
                "kind": "youtube#video",
                "videoId": "lpVqdMIWtp0"
              },
              "snippet": {
                "publishedAt": "2022-11-08T08:35:04Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Paraguay",
                "description": "Music: Song: Ikson - New Day (Vlog No Copyright Music) Music provided by Vlog No Copyright Music. Video Link: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/lpVqdMIWtp0/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/lpVqdMIWtp0/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/lpVqdMIWtp0/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2022-11-08T08:35:04Z"
              }
            }
          ]
        }
  recorded_at: Sat, 12 Nov 2022 01:22:02 GMT
recorded_with: VCR 6.1.0
